<div class="container">
	<div class="frow centered" style="text-align: center">
      <div class="col-md-1-2">
        <section>
        <h1 class="mdc-typography--headline4 dignity"><i class="fas fa-star-and-crescent fa-3x" style="vertical-align: middle"></i><br /><br />&nbsp;&nbsp;The Poet Taboo Nuwas</h1>

        <button class="mdc-button mdc-button--raised with dignity mt-5">Spiral Cairo</button>
        <h2 class="mt-3">Material Components Web <br>for Right Angularity</h2>
        <i class="fas fa-sun fa-5x"></i>
        </section>
      </div>


</div>
</div>
