<div class="container">
	<div>

    <section>
      <h1 class="mdc-typography--headline4 dignity"><i class="fas fa-star-and-crescent fa-3x" style="vertical-align: middle"></i></h1>
			<h1>
				&nbsp;Adeus, Mundo Imundo</h1>
      <button class="mdc-button mdc-button--raised my-4">The Victorious</button>
      <h2>Ahmed and the Night Visitors</h2>		
			<h1 class="mdc-typography--headline3 dignity"><i class="fas fa-chess fa-3x mr-2" style="vertical-align: middle"></i></h1>

		  <button class="mdc-button mdc-button--raised mdc-button--large mt-5">Deep Blue</button>
    </section>
	</div>


</div>
